body {background-color: rgb(107, 107, 107);}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

table {
    width: 100%;
}

th, td {
    width: 25%;
}



div {
    width: 760px;
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    margin: auto;
    background-color: rgb(236, 236, 236);
    text-align: center;
    border-bottom: 0px;
}

.table{
    text-align: left;
    margin:auto;
    margin: auto;
    border-bottom: 5px solid rgb(0, 0, 0);
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

